@import "styles/color";

.main {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.block {
    background-color: $semi-blue;
    border-radius: 20px;
}

.subtitle {
    font-family: Airbnb Cereal App Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    background: -webkit-linear-gradient(1deg, #004FFF 0%, #CB06ED 5%, #FF0062 8%, #FF8500 32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}