@import "styles/color";

.footer{
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    @media (min-width: 768px) {
        padding: 0px 170px;
    }
    background-color: $black-blue;
}

.socialLogo{
    width: 22px;
    cursor: pointer;
    fill: $white;
    margin-right: 15px;
    @media (max-width: 768px) {
        margin-right: 25px;
        margin-bottom: 8px;
    }
}

.socialLogoRight{
    width: 22px;
    cursor: pointer;
    fill: $white;
    @media (max-width: 768px) {
        margin-bottom: 8px;
    }
}

.footerLink{
    margin: 0px 15px;
    font-size: 12px;
}

.footerCopyright{
    font-size: 10px;
}