@import "styles/color";

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 1440px;
    padding: 16px 25px;
    background-color: $black-blue;
    @media (max-width: 1700px) {
        width: 1440px;
    }
    
    @media (max-width: 1500px) {
        width: 1280px;
    }
    
    @media (max-width: 1320px) {
        width: 1160px;
    }
    
    @media (max-width: 1200px) {
        width: 980px;
    }
    
    @media (max-width: 1024px) {
        width: unset;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.socialLogo{
    width: 22px;
    cursor: pointer;
    fill: $white;
    margin-right: 15px;
    @media (max-width: 1024px) {
        margin-right: 25px;
        margin-bottom: 8px;
    }
}

.socialLogoRight{
    width: 22px;
    cursor: pointer;
    fill: $white;
    @media (max-width: 1024px) {
        margin-bottom: 8px;
    }
}

.footerLink{
    margin: 0px 15px;
    font-size: 12px;
}

.footerCopyright{
    font-size: 10px;
}