@import "styles/color";

.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 100%;
    padding: 16px 25px;
}

.socialLogo{
    width: 22px;
    cursor: pointer;
    fill: $white;
    margin-right: 15px;
    @media (max-width: 1024px) {
        margin-right: 25px;
        margin-bottom: 8px;
    }
}

.socialLogoRight{
    width: 22px;
    cursor: pointer;
    fill: $white;
    @media (max-width: 1024px) {
        margin-bottom: 8px;
    }
}

.footerLink{
    margin: 0px 15px;
    font-size: 12px;
}

.footerCopyright{
    font-size: 10px;
}