.MaxCount {
  &__desktop {
    display: flex;

    @media (max-width: 1280px) { 
      display: none;
    }
  }

  &__mobile {
    @media (min-width: 1280px) { 
      display: none;
    }
  }
}

.count {
  &:hover {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

.countBtn {
  padding-right: 0.7rem !important;
  padding-left: 0.7rem !important;
  padding-top: 0.05rem !important;
  padding-bottom: 0.05rem !important;
}