@import "styles/color";

.main {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 100px;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 10px;
    border: solid 2px transparent;
    @media (min-width: 768px) { 
        padding: 30px 80px;
    }
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,#004fff, #cb06ed, #ff0062, #ff8500 );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $black-blue inset;
    border-radius: 10px;
}

.searchTitle {
    width: 100%;
    font-family: "Airbnb Cereal App Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 29.9791px;
    line-height: 39px;
}

.searchInput {
    width: 80%;
    height: 60px;
    padding-left: 30px;
    outline: 0;
    color: white;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,#004fff, #cb06ed, #ff0062, #ff8500 );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $semi-blue inset;
    border-radius: 25px;
    @media (min-width: 768px) {
        width: 65%;
    }
    @media (min-width: 992px) {
        width: 80%;
    }
}

.searchBtn {
    width: 15%;
    margin-left: 50px;
}

.search {
    right: 310px;
    top: 20px;
}

.Logo {
    width: 100%;
    @media (min-width: 768px) {
        width: 100%;
    }
}

.block {
    background-color: $semi-blue;
    border-radius: 20px;
}

.table > thead > tr > th {
    height: 65px;
    text-align: center;
    vertical-align: middle;
 }