.wrapper{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(13, 75, 254, 0.3) 0%, rgba(120, 36, 245, 0.3) 100%);
    text-decoration: none !important;
}
.title {
    font-size: 12px;
    color: white;
}
.connectIndicator {
    margin: 0 5px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid 1px white;
    .outterIndicator {
        @keyframes indicatorScale {
            0%,
            100% {
            transform: scale(0.8);
            opacity: 0.2;
            }
            50% {
            transform: scale(0.9);
            opacity: 0.3;
            }
        }

        position: absolute;
        width: 14px;
        height: 14px;
        background: rgba(20, 255, 198, 0.9);
        border-radius: 100%;
        animation: 1.6s ease-in-out 0s infinite normal none running indicatorScale;
    }

    .innerIndicator {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #14FFC6;
    }
}