@import "styles/color";

.searchInput {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  z-index: 1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  outline: 0;
  border: solid 2px transparent;
  border-radius: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 133, 0) 0%, rgba(255, 0, 98) 30%, rgba(203, 6, 237)  55%, rgba(0, 79, 255) 100%);;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px $black-blue inset;
  &::placeholder{
    color: #9C9CBA;
  }
  &:focus {
    background: linear-gradient(90deg, rgba(13, 8, 31, 0.5) 0%, rgba(8, 7, 21, 0.5) 99.9%);
    border: 2px solid #004FFF;
    box-sizing: border-box;
    border-radius: 50px;
  }
}

.inputLarge {
  height: 65px;
  @media (max-width : 576px) {
    height: 55px;
  }
}

.searchIcon {
  position: absolute;
  cursor:pointer;
  right: 20px;
  z-index: 1;
}

.searchButton {
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(0, 79, 255);
  border-radius: 50px;
  right: 5px;
  z-index: 1;
  height: 55px;
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  padding:0 6.5%;
  border: solid 2px transparent;
  transition: transform 0.5s;
  cursor: pointer;
  @media (max-width : 576px) {
    height: 45px;
    font-size: 15px;
    padding:0 10%;
  }
  &:hover {
    background: #0029FF;
  }
}