@import "styles/color";

.main {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 100px;

    @media (max-width : 1024px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    z-index: 1001;
    margin: 30px auto;
    margin-bottom: 10px;
    border: solid 2px transparent;
    @media (min-width: 1024px) { 
        padding: 30px 80px;
    }
    padding: 25px 14px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,#004fff, #cb06ed, #ff0062, #ff8500 );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $black-blue inset;
    border-radius: 10px;
}

.searchTitle {
    width: 100%;
    font-family: "Airbnb Cereal App Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 29.9791px;
    line-height: 39px;
    @media (max-width : 1024px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.searchInput {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    outline: 0;
    color: white;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,#004fff, #cb06ed, #ff0062, #ff8500 );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $semi-blue inset;
    border-radius: 25px;
    @media (max-width: 1024px) {
        height: 40px;
        font-size: 10px;
    }
}

.search {
    right: 54px;
    top: 20px;

    @media (max-width : 1024px) {
        right: 12px;
        top: 10px;
    }
}

.Logo {
    width: 40px;
    height: 40px;
    @media (max-width: 1024px) {
        width: 24px;
        height: 24px;
    }
}
.blockButton {
    @media (max-width: 1024px) {
        border: solid 3.25px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                    linear-gradient(101deg,#FF850059, #FF006259, #CB06ED59, #004FFF59 );
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 3.25px 1000px 1px $semi-blue inset;
        font-size: 16px!important;
        padding: 2.5px 8.5px!important;
    }
}

.blockLogo {
    width: 12px;
    height: 12px;
    opacity: 0.5;
    margin-left: 18px;
    margin-right: 4px;
}

.block {
    background-color: $semi-blue;
    border-radius: 30px;
    @media (max-width: 768px) {
        border-radius: 12px;
    }
}

.chartBlock {
    border-radius: 45px;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(134deg, rgba(255, 255, 255, 0.19), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $semi-blue inset;
    padding: 88px 112px;
    height: 520px;

    @media (max-width: 1024px) {
        padding: 40px 0px; 
        height: 360px;
        border-width: 1px;
    }

    .mMinus50 {
        margin-left: -50px;
        @media (max-width: 1024px) {
            padding:0px 40px;
            margin-left: 0px;
        }
    }

    .activeChartRect {
        width: 16px;
        height: 16px;
        background-color: #9F9FFF;
        border-radius: 4px;
        @media (max-width: 1024px) {
            width: 11px;
            height: 11px;
            border-radius: 2px;
        }
    }

    .inactiveChartRect {
        width: 16px;
        height: 16px;
        background-color: #21244A;
        border-radius: 4px;
        margin-left: 30px;
        @media (max-width: 1024px) {
            margin-left: 15px;
        }
    }

    .chartLabel {
        color: white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Airbnb Cereal App Bold";
        margin-left: 8px;
        white-space: nowrap;
        @media (max-width: 1024px) {
            margin-left: 4px;
            font-size: 10px;
        }
    }

    .chartInactiveLabel {
        color: white;
        opacity: 0.3;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        font-family: "Airbnb Cereal App Bold";
        margin-left: 8px;
        white-space: nowrap;
        @media (max-width: 1024px) {
            margin-left: 4px;
            font-size: 10px;
        }
    }

    .chartView {
        height: 255px;
        margin-top: 60px;
        @media (max-width: 1024px) {
            margin-top: 30px;
        }
    }

}


@media (min-width: 1024px) {
    .searchBtn {
        width: 15%;
        margin-left: 50px;
        height: 50px;
    }
}

@media (max-width: 1024px) {
    
    .searchBtn {
        display: none!important;
    }

    .gradientBack{
        background: linear-gradient(
            90deg, #004FFF 0%, #CB06ED 33.3%, #FF0062 68.16%, #FF8500 99.9%);
        filter: blur(13px);
        position: absolute;
        width: calc(100% - 10px);
        margin-left: 5px;
        height: 200px;
        z-index: 0;
        top: 35px;
        border-radius: 10px;
    }

    .validatorColorMobile {
        color: #9F9FFF;
    }

    .valiIcon {
        width: 25px;
        height: 25px;
    }

    .logoSummary {
        font-size: 14px!important;
        line-height: 8px;
    }

    .logoPercent {
        font-size: 12px!important;
        color: $white-blue;
    }

    .searchBarInfo {
        padding-right: 1rem!important;
    }
    
    .blockTitle {
        line-height: 16px!important;
    }    
}

.showAllButton {
    font-family: Airbnb Cereal App Bold;
    font-weight: bold; 
    color: white;
    font-size: 12px;
    padding: 12px 50px!important;
    background-color: black;
}

.blackMobileView {
    background-color: rgba(7,7,20,0.2)!important;
}

.mobileView {
    background-color: $semi-blue;
    border-radius: 12px;
    padding: 16px;

    .mobileLabel {
        font-family: 'Airbnb Cereal App Medium';
        color: $grey;
        font-size: 14px;
        line-height: 18px;
        margin-right: 5px;
    }

    .mobileValue {
        font-family: 'Airbnb Cereal App Medium';
        font-weight: 500;
        color: white;
        opacity: 0.7;
        font-size: 16px;
    }

    .tokenValue {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        margin-left: 8px;
    }

    .detailButton {  
        font-family: Airbnb Cereal App Bold;
        font-weight: bold; 
        color: $white-blue;
        font-size: 12px;
        padding: 12px 36px!important;
    }
}

.table > thead > tr > th {
    height: 65px;
    text-align: center;
    vertical-align: middle;
 }