@import "styles/color";

.main {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 100px;
    margin-top: 30px;
    @media (max-width: 1024px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 37px;
        margin-top: 0px;
    }
}

.indexTable {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    

    th,td {
        text-align: left!important;

        &:first-child {
            padding-left: 50px;

            @media (max-width: 1024px) {
                padding-left: 10px;
            }
        }
    }
}

.block {
    background-color: $semi-blue;
    border-radius: 20px;
}

.subtitle {
    font-family: Airbnb Cereal App Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    background: -webkit-linear-gradient(1deg, #004FFF 0%, #CB06ED 5%, #FF0062 8%, #FF8500 32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 1024px) {
        font-family: Airbnb Cereal App Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        background: -webkit-linear-gradient(1deg, #004FFF 0%, #CB06ED 5%, #FF0062 8%, #FF8500 32%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.blackMobileView {
    background-color: rgba(7,7,20,0.2)!important;
}


.nextButton {
    font-family: Airbnb Cereal App Bold;
    font-weight: bold; 
    color: white;
    font-size: 12px;
    padding: 12px 50px!important;
    background-color: black;
}

.mobileView {
    background-color: $semi-blue;
    border-radius: 12px;
    padding: 16px;

    .detailButton {  
        font-family: Airbnb Cereal App Bold;
        font-weight: bold; 
        color: $white-blue;
        font-size: 12px;
        padding: 12px 36px!important;
    }

    .smallImage {
        width: 35px;
        height: 35px;
    }

    .mobileLabel {
        font-family: 'Airbnb Cereal App Medium';
        color: $grey;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 13px;
    }

    .mobileValue {
        font-family: 'Airbnb Cereal App Medium';
        font-weight: 500;
        color: white;
        opacity: 0.7;
        font-size: 16px;
    }

    .tokenValue {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        margin-left: 8px;
    }
}