.paginationButton {
  opacity: 0.8;

  &:hover {
      opacity: 1;
  }

  &:active {
      opacity: 0.4;
  }
}

.Pagination {
  &__desktop {
    display: flex;

    @media (max-width: 1280px) { 
      display: none;
    }
  }

  &__mobile {
    @media (min-width: 1280px) { 
      display: none;
    }
  }
}
