.paginationButton {
  opacity: 0.8;

  &:hover {
      opacity: 1;
  }

  &:active {
      opacity: 0.4;
  }
}

.Pagination {
  padding-top: 25px;
  @media (max-width : 1024px) {
    padding-top: 0px;
  }
  &__desktop {
    display: flex;
  }
  &__mobile {
    @media (min-width: 1280px) { 
      display: none;
    }
  }
}
