$black-blue: #070714;
$dark-blue: #00001e;
$medium-blue: #111129;
$semi-blue: #14142e;
$white-blue: #9f9fff;
$light-blue: #3f3f97;
$white: #ffffff;
$grey: #9C9CBA;
$light-white: rgba(255, 255, 255, 0.7);
$light-grey: rgba(156, 156, 186, 0.7);
$black-blue-dark: rgba(7, 7, 20, 0.2);
$table-border: rgba(255,255,255,0.1);