/* Airbnb Cereal App FONT */
@font-face {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App"), url(../fonts/AirbnbCerealBook.woff) format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Light";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Light"), url(../fonts/AirbnbCerealLight.woff) format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Medium"), url(../fonts/AirbnbCerealMedium.woff) format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Bold"), url(../fonts/AirbnbCerealBold.woff) format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Extra Bold"), url(../fonts/AirbnbCerealExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Airbnb Cereal App Black";
  font-style: normal;
  font-weight: normal;
  src: local("Airbnb Cereal App Black"), url(../fonts/AirbnbCerealBlack.woff) format("woff");
}


// IMPORT SCSS
@import "custom";
@import "color";
@import "layout";

// GLOBAL CSS
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Airbnb Cereal App", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow: auto;
  background-color: $black-blue;
}

.ellipse {
  position: absolute;
  width: 100%;
  height: 1284.5px;
  left: 0px;
  top: 89px;

  background: linear-gradient(90.25deg, rgba(13, 75, 254, 0.8) 0.13%, rgba(184, 14, 239, 0.8) 99.71%);
  opacity: 0.3;
  filter: blur(500px);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-items-start {
  align-items: flex-start;
}

.flex-items-end {
  align-items: flex-end;
}

.flex-cont-start {
  justify-content: flex-start;
}

.flex-cont-center {
  justify-content: center;
}

.flex-cont-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-grow-6 {
  flex-grow: 6;
}

.flex-grow-4 {
  flex-grow: 4;
}

.w-fit-content {
  width: fit-content!important;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.mt-2p0 {
  margin-top: ($spacer * 2) !important;
}

.mt-2p5 {
  margin-top: ($spacer * 2.5) !important;
}

.ps-4p0 {
  padding-left: ($spacer * 4) !important;
}

.pe-4p0 {
  padding-right: ($spacer * 4) !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.4;
}

.text-price {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-bold {
  font-weight: bold;
}

.cursor-point {
  cursor: pointer;
}

.recharts-cartesian-axis-tick {    
  font-family: "Airbnb Cereal App Bold";
  font-weight: 700;

  text {
    fill: #B2B2B2!important;
    font-size: 16px;
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

.display-block {
  display: block!important;
}
.table-mobile-body {
  tr {
    display: table;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .table-mobile-header {
    display: table;
    // table-layout: fixed;
    width: 100%;
  }
}

.overflow-x-auto {
  overflow-x: auto;
}

.opacity-1 {
  opacity: 1;
}

.subTitle {
  font-family: Airbnb Cereal App Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 65px;
  background: -webkit-linear-gradient(1deg, #004FFF 0%, #CB06ED 5%, #FF0062 8%, #FF8500 32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1024px) {
    font-family: Airbnb Cereal App Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background: -webkit-linear-gradient(1deg, #004FFF 0%, #CB06ED 5%, #FF0062 8%, #FF8500 32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subTitle1 {
  font-family: Airbnb Cereal App Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 65px;
  background: -webkit-linear-gradient(1deg, #004FFF, #CB06ED, #FF0062, #FF8500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1024px) {
    font-family: Airbnb Cereal App Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    background: -webkit-linear-gradient(1deg, #004FFF, #CB06ED, #FF0062, #FF8500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subTitle2 {
  font-family: Airbnb Cereal App Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  background: -webkit-linear-gradient(1deg, #004FFF, #CB06ED, #FF0062, #FF8500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;    
  @media (max-width: 1024px) {
    font-size: 16px!important;
  }
}
.subTitleMarginTop {
  margin-top: 54px; /* < Back icon height + mt-4 */
  @media (max-device-width: 1024px) {
    margin-top: 2rem;
  }
}

.subTitleMarginTop2 {
  @media (max-device-width: 1024px) {
    margin-top: 2rem;
  }
}

.mainBody {
  position: relative;
  margin: 0px auto;
  margin-bottom: 130px;
  margin-top: 30px;
  width: 1400px;
  
  @media (max-width: 1700px) {
    width: 1400px;
  }
  
  @media (max-width: 1500px) {
    width: 1280px;
  }
  
  @media (max-width: 1320px) {
    width: 1160px;
  }
  
  @media (max-width: 1200px) {
    width: 980px;
  }
  
  @media (max-width: 1024px) {
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 30px;
  }
}

.mainBlock {
  background-color: $semi-blue;
  border-radius: 20px;
  @media (max-width: 1024px) {
    border-radius: 12px;
  }
}

.textToken {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-80 {
  width: 80%;
}

.webBorderTable {
  border-bottom: 1px solid $table-border;
  thead {
    border-bottom: 1px solid $table-border;
  }
}

.webBorderTable2 > thead {
  border-bottom: 1px solid $table-border;
}

.webIcon {
  width: 32px;
  min-width: 32px;
  height: 32px;
}

.webCheckIcon {
  width: 20px;
  height: 20px;
}

.mobileView {
  background: linear-gradient(90deg, #0E1439 0%, #121339 35.33%, #171139 81.35%, #1B1038 114.22%, #1F0E38 157.77%);
  border-radius: 20px;
  padding: 16px;
}

.mobileDarkView {
  background-color: $black-blue-dark !important;
  border-radius: 0px !important;
}

.mobileRowLabel {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.8;
}

.mobileLabel {
  font-family: Airbnb Cereal App;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 5px;
}

.mobileValue {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.mobileIcon {
  width: 32px;
  height: 32px;
}

.mobileCheckIcon {
  width: 20px;
  height: 20px;
}

.mobileDetailButton {  
  font-family: Airbnb Cereal App Bold;
  font-weight: bold; 
  color: $white-blue;
  font-size: 12px;
  padding: 12px 36px !important;
}

.mobileNextButton {
  font-family: Airbnb Cereal App Bold;
  font-weight: bold; 
  color: white;
  font-size: 12px;
  padding: 12px 50px !important;
}

.data-table {
  background: linear-gradient(90deg, #0E1439 0%, #121339 35.33%, #171139 81.35%, #1B1038 114.22%, #1F0E38 157.77%);
  border-radius: 20px;
}

.data-overflow {
  overflow-wrap: break-word;
  border-bottom: 1px solid #9f9fff17;
}

.down {
  @media (max-width: 1024px) {
    margin-top: -23px;
  }
}