@import "styles/color";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0px;
    @media (max-width: 768px) {
        padding: 8px 12px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    margin: 0px auto;
    width: 1400px;
    
    @media (max-width: 1700px) {
        width: 1400px;
    }
    
    @media (max-width: 1500px) {
        width: 1280px;
    }
    
    @media (max-width: 1320px) {
        width: 1160px;
    }
    
    @media (max-width: 1200px) {
        width: 980px;
    }
    
    @media (max-width: 1024px) {
        width: unset;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.hamburger{
    cursor: pointer;
    fill: $white;
    &:hover {
        fill: #14FFC6;
    }
}

.searchBoxContainer {
    @media (max-width: 768px) {
        margin-top: 30px;
    }
}

.navBarItem {
    font-family: "Airbnb Cereal App";
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    @media (max-width: 1200px) {
        font-size: 16px;
    }
    @media (max-width: 992px) {
        font-size: 14px;
    }
    // @media (min-width: 992px) {
    //     width: 500px;
    // }
}

.navBarDropdown {
    // margin-left: 30px;

    .dropdownItem{
        cursor: pointer;
        color: white;
        font-family: "Airbnb Cereal App Bold";
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 14px;

        &:hover {
            color: $white-blue;
            transition: all 150ms ease-out;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .navBarDropdownItem {
        background: unset;
        border: unset;

        .downArrowItem {
            margin-left: 4px;
        }
    }

    .dropdownMenu {
        background-color: #191939!important;
        border-radius: 11px;
  		// transition: all 1000ms ease-out;
        padding: 11px 17px;
        margin-top: 8px;
        z-index: 1001;
    }
}

.downArrowMobile {
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 15px;
}

.submenuMobile {
    font-family: "Airbnb Cereal App";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

.activeSubmenuMobile {
    color: $white-blue!important;
}

.menuContainerMobile {
    margin-top: -10px;
}

.activeMobileMenuItem {
    color: $white-blue!important;
}

@media (max-width:1024px) {

    .mobileMenu {
        padding: 80px 0px;

        .mobileMenuItem {
            font-family: "Airbnb Cereal App Bold";
            color: white;
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0px;
            }

            &.activeMobileMenuItem {
                color: $white-blue!important;
            }
        }
    }
}