@import "styles/color";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 12px;
    margin-bottom: 20px;
    // height: 58px;
    @media (min-width: 768px) {
        padding: 0 170px;
    }
    @media (max-width: 768px) {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    background-color: $black-blue;
}

.logo{
    width: 70%;
    @media (min-width: 768px) {
        width: 100%;
    }
}

.hamburger{
    cursor: pointer;
    fill: $white;
    &:hover {
        fill: #14FFC6;
    }
}

.searchBoxContainer {
    height: 58px;
    @media (max-width: 768px) {
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }
}
 
.searchContainer{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
    outline: 0;
    color: white;
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                linear-gradient(101deg,#004fff, #cb06ed, #ff0062, #ff8500 );
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px $semi-blue inset;
    border-radius: 25px;
    @media (max-width: 768px) {
        font-size: 12px;
    }
    @media (min-width: 768px) {
        width: 65%;
        // margin-top: 30px;
    }
    @media (min-width: 992px) {
        width: 500px;
    }
}

.search {
    bottom: 0px;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.navBarItem {
    font-family: "Airbnb Cereal App Bold";
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.navBarDropdown {
    margin-left: 30px;

    .dropdownItem{
        cursor: pointer;
        color: white;
        font-family: "Airbnb Cereal App Bold";
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 14px;

        &:hover {
            color: $white-blue;
            transition: all 150ms ease-out;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .navBarDropdownItem {
        background: unset;
        border: unset;

        .downArrowItem {
            margin-left: 4px;
        }
    }

    .dropdownMenu {
        background-color: #191939!important;
        border-radius: 11px;
  		// transition: all 1000ms ease-out;
        padding: 11px 17px;
        margin-top: 8px;
        z-index: 1000001;
    }
}

@media (max-width:768px) {

    .mobileMenu {
        padding: 80px 0px;

        .mobileMenuItem {
            font-family: "Airbnb Cereal App Bold";
            color: white;
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0px;
            }

            &.activeMobileMenuItem {
                color: $white-blue!important;
            }
        }
    }
}